<i><center>(Website dalam tahap pengembangan)</center></i>
<br>
<h5><center><%= user.data.name %></center></h5>
<div class="d-flex justify-content-center">
<div class="card" style="margin: 2%; width: 400px; height: 320; background-color: white">
    <div class="card-body">
        <br>
        <p><%= user.email %></p>
        <p><%= user.data.periode %></p>
        <p><%= user.data.ranting %></p>
        <br>
    </div>
    </a>
</div>
</div>